vti_encoding:SR|utf8-nl
vti_author:SR|NOVASPRINT\\jianbo.hu
vti_modifiedby:SR|NOVASPRINT\\jianbo.hu
vti_timelastmodified:TR|06 Jun 2014 07:38:30 -0000
vti_timecreated:TR|06 Jun 2014 07:38:30 -0000
vti_cacheddtm:TX|06 Jun 2014 07:38:30 -0000
vti_filesize:IR|2608
vti_cachedlinkinfo:VX|Q|layout.css S|../images/bkgd_tile.gif
vti_cachedsvcrellinks:VX|FQUS|styles/layout.css FSUS|images/bkgd_tile.gif
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|site_map/default.html faq/default.html photo_gallery/default.html press/default.html products/default.html promotions/default.html master.dwt information_links/default.html services/default.html about/default.html calendar/default.html contact/default.html employees/default.html employment/default.html news/default.html default.html
vti_syncofs_localhost\\\\\\192.168.170.80\\sgexpense///192.168.170.80/sgexpense:TW|06 Jun 2014 07:46:59 -0000
vti_syncwith_localhost\\\\\\192.168.170.80\\sgexpense///192.168.170.80/sgexpense:TX|06 Jun 2014 07:38:30 -0000
